body{
    padding-top: 94px;
}

.logo{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImage
{
    width: 50px;
    height: 50px;
}

.title{
    margin-top: 10px;
    font-size: 30px;
    color:#E6D0A7;
    text-align: center;
    font-family:"ARIAL BLACK";
}

.registration
{
    border: 3px solid rgb(255, 255, 255);
    padding: 15px 160px 15px 160px;
    border-radius: 20px;
    font-family:"ARIAL BLACK";
    margin: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

.book
{
    border: 3px solid rgb(255, 255, 255);
    padding: 15px 160px 15px 160px;
    border-radius: 20px;
    font-family:"ARIAL BLACK";
    margin: 20px;
    margin-left: 1%;
    margin-right: 15%;
}
.nav{
    position: fixed;
    top: 0;
    margin-left: 90px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 12px;
    margin: 10px 20px 10px 150px;
    font-family:"ARIAL BLACK"; 
    
}

.block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px 0px 200px;
}

.text{
    margin-top: 10px;
    font-size: 20px;
    color:#E6D0A7;
    text-align:50px;
    font-family:calibri;
    margin-left: 12%;
    margin-right: 10%;
}

.content {
  margin-left: 40px;
}

.titleText{
    color:#E6D0A7;
    margin-left: 12%;
    margin-right: 10%; 
}

.menu a {
  color: #E6D0A7;
  text-decoration: none;
}

.previewimg{
  display: flex;                 
  align-items: center;           
  margin: 0 auto;
  justify-content: center; 
  gap: 50px;
}

.previewImg1, .previewImg2, .previewImg3
{
    width: 300px;
    height: 300px;
}

.header-container
{
  display: flex;
}

.container{
  display: flex;          
  justify-content: center; 
  align-items: center;
}

.nav{
    position: fixed;
    top: 0;
    margin-left: 100px;
}
.nav ul {
  display: flex;          
  justify-content: center; 
}

.nav a {
  color: #E6D0A7;
  text-decoration: none;    
  font-size: 15px;
  margin: 0px 60px 0px 60px;
}

.map {
  width: 1000px;  
  margin: 0 auto; 
  margin-top: 30px;
}
.map iframe {
  border: none;
  width: 100%;
  height: 250px;
}

.footer-text
{
    color: #E6D0A7;
    font-size: 20px;
    margin: 20px 0;
    width: 70%;
}

.req-line {
    display: flex;                 
    align-items: center;
    justify-content: center;
}
